version: "3.9"

services:
  # Backend Laravel
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: laravel_api
    volumes:
      - ./backend:/var/www
      - /var/www/vendor
      - /var/www/node_modules
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=bois_decoration
      - DB_USERNAME=root
      - DB_PASSWORD=root
    depends_on:
      - db
    networks:
      - app-network

  # Frontend Next.js
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: next_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - app-network

  # Backoffice React
  backoffice:
    build: 
      context: ./backoffice
      dockerfile: Dockerfile
    container_name: react_backoffice
    ports:
      - "5173:5173"
    volumes:
      - ./backoffice:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - app-network

  # Base de données MySQL
  db:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: bois_decoration
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  # AJOUT : Interface phpMyAdmin connectée au conteneur 'db'
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin_docker
    restart: always
    environment:
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=root
    ports:
      - "8080:80"
    networks:
      - app-network
    depends_on:
      - db

volumes:
  db_data:

networks:
  app-network:
    driver: bridge