@import "tailwindcss";

@theme {
  /* Vos couleurs personnalisées */
  --color-wood-dark: #2d2926;
  --color-wood-gold: #a66d3b;
  --color-wood-light: #c4936a;
  --color-app-bg: #f8f5f2;

  /* Vos polices */
  --font-script: "Dancing Script", cursive;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-app-bg text-wood-dark antialiased;
    font-family: var(--font-inter);
  }
}