@import "tailwindcss";

 

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-900;
  }
}

@layer components {
  .btn-primary {
    @apply bg-amber-700 hover:bg-amber-800 text-white font-bold py-3 px-6 rounded-lg transition-all duration-300;
  }
  
  .btn-outline {
    @apply border-2 border-amber-700 text-amber-700 hover:bg-amber-50 font-medium py-2 px-5 rounded-lg transition-all duration-300;
  }
}